{% extends "bootstrap.html.j2" %}
{% load staticfiles %}
{% block title %}
  登录
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap/signin.css' %}">
{% endblock %}

{% block body %}
<div class="container">

  <form class="form-signin" method="post">
    {% csrf_token %}
    {% if password_is_wrong %}
      <div class="alert alert-danger alter-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>用户名或密码错误!</strong>
      </div>
    {% endif %}
    <h2 class="form-signin-heading">登录</h2>
    <label for="username" class="sr-only">username</label>
    <input type="text" id="username" class="form-control" placeholder="用户名" name="username" required autofocus>
    <label for="password" class="sr-only">password</label>
    <input type="password" id="password" class="form-control" placeholder="密码" name="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>

</div> <!-- /container -->
{% endblock %}
