{% extends "bootstrap.html.j2" %}
{% load staticfiles %}

{% block style %}
<link href="{% static 'bootstrap/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BigBang</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">帐号<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">动作1</a></li>
            <li><a href="#">动作2</a></li>
            <li><a href="#">动作3</a></li>
            <li class="divider"></li>
            <li><a href="logout/">注销</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">控制台</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="#">帮助</a></li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索...">
        </div>
        <button type="submit" class="btn btn-default">搜搜搜</button>
      </form>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">概览 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">报告</a></li>
        <li><a href="#">分析</a></li>
        <li><a href="#">导出</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#">功能1</a></li>
        <li><a href="#">功能2</a></li>
        <li><a href="#">功能3</a></li>
        <li><a href="#">功能4</a></li>
        <li><a href="#">功能X</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#">功能A</a></li>
        <li><a href="#">功能B</a></li>
        <li><a href="#">其他功能</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% block content %}
        默认内容
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
